/*.oeufStyle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	/*#88b949*//*
	background: linear-gradient(#fff0d3, #bcda95) ;*//*
	background: linear-gradient(130deg,#ffffff, #3c3c3c);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 100ms;
	transition-timing-function: cubic-bezier(0.5, 0.3, 0.6, 0.5);;
}*/
/*
.oeufStyle:hover {
	height: 97px;
	width: 97px;	
	margin: 1.5px;
	background: linear-gradient(140deg,#ffffff, #3c3c3c);*/
/*}
*/
/*.plusIcon {
	background-image: url('../.././image/croixentourer.png');
	background-size: contain; 
	height: 50%;
	width: 50%;
	margin-top: 2.5px;
}

.moinsIcon {
	background-image: url('../.././image/minusboutton.png');
	background-size: contain; 
	height: 50%;
	width: 50%;
}*/

.appliContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.allAppli {
	display: flex;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 0 5px;
	flex-direction: column;
}

.appliHaute {
	display: flex;
	width: 300px;
	height: 150px;
}

.appliStatic {
	height: 150px;
	width: 150px;
}

.appliGaucheHaute {
	background: center url('../.././image/meteo-screenshot.png');
	background-size: cover;
	transition: 1.5s;
	height: 150px;
	width: 150px;
	border-radius: 100% 0 0 0;
}

.appliDroiteHaute {
	height: 150px;
	width: 150px;
	transition: 1.5s;
	border-radius: 0 100% 0 0;	
	background: center url('../.././image/todolist-screenshot.png');
	background-size: cover;
}

.appliGaucheBasse {
	height: 150px;
	width: 150px;	
	transition: 1.5s;
	border-radius: 0 0 0 100%;
	background: center url('../.././image/calendrier-screenshot.png');
	background-size: cover;
}

.appliDroiteBasse {
	height: 150px;
	width: 150px;
	background: black;
	border-radius: 0 0 100% 0;
}

.appliGaucheHaute:hover {
	position: absolute;
	border-radius: 0;
	height:250px;
	width:250px;
	box-shadow: 0 0 3px black;
	margin: -100px;
}
.appliDroiteHaute:hover {
	position: absolute;
	border-radius: 0;
	height:250px;
	width:250px;	
	box-shadow: 0 0 3px black;
	margin-top: -100px ;
}
.appliGaucheBasse:hover {
	position: absolute;
	border-radius: 0;
	height:250px;
	width:250px;
	box-shadow: 0 0 3px black;
	margin-left:-100px;
}
.appliGaucheBasse:hover {
	position: absolute;
	border-radius: 0;
	height:250px;
	width:250px;
	box-shadow: 0 0 3px black;
	margin-bottom: -100px;
}

@media (max-width: 700px) {
	.appliGaucheHaute:hover {
		margin-top: -255px;
		margin-left: 25px;
	}
	.appliDroiteHaute:hover {
		margin-top: -255px;
		margin-left: -125px;
	}
	.appliGaucheBasse:hover {
		margin-top: -405px;
		margin-left: 25px;
	}
	.appliDroiteBasse:hover {
		margin-top: -405px;
		margin-left: 25px;
	}
}