.div {
	height: 100vh;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.container {
	margin-top: 80px;
	position: relative;
	height: 520px;
	width: 300px;
	box-shadow: 0 0 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
}

.TopButtonContainer {
	height: 55px;
	margin-bottom: 5px;
	border-bottom: 1px solid #a7a7a7;
	width: 285px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profileContainer {
	position: relative;
	height: 330px;
	width: 285px;
	border: 1px solid #a7a7a7;
	border-radius: 10px;
	margin-left: -1px;
	display: flex;
	flex-direction: column;
	background: white;
}

.profileBehind {
	position: absolute;
	top: 65px;
	height: 330px;
	width: 270px;
	border: 1px solid #a7a7a7;
	border-radius: 10px;
	margin-left: 6.5px;
	background: white;
}

.profileBehind2 {
	position: absolute;
	top: 69px;
	height: 330px;
	width: 255px;
	border: 1px solid #a7a7a7;
	border-radius: 10px;
	margin-left: 14px;
	background: white;
}

.imageContainer {
	height: 285px;
	width: 285px;
	margin-top: -1px;
	border-radius: 10px 10px 0 0;
	margin-bottom: 5%;
	margin-left: -1px;
	background-position: center;
	background-size: cover;
}

.buttonContainer {
	height: 95px;
	width: 285px;
	margin-top: 20px;
	display: flex;
}

.firstButton {
	height: 57.5px;
	width: 57.5px;
	border-radius: 50%;
	background: #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	box-shadow: 0 0 0px;
}
.secondButton {
	height: 85px;
	width: 85px;
	border-radius: 50%;
	background: #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0px;
}

.insideFirstButton {
	height: 37.5px;
	width: 37.5px;
	border-radius: 50%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.insideSecondButton {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
