.header {
	position: fixed;
	height: 55px;
	top: 0px;
	width: 100%;
	background: linear-gradient(#ff6a00, #ff6a00);
	color: rgba(236, 240, 241, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.headerSwitched {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	height: 55px;
	background: #bcaaa4;
}

.headerOnScroll {
	position: fixed;
	height: 55px;
	top: 0px;
	width: 100%;
	background: #757575;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	height: 55px;
	color: #eaeaea;
	z-index: 1;
}

p {
	font-family: gt super display, Times New Roman, serif;
	transition: 0.2s;
}

.siteName {
	display: flex;
	justify-content: center;
	font-family: "Concert One", cursive;
	font-size: 2.2em;
	font-weight: 600;
	display: block;
	padding: 0 15px;
}

.siteName:hover {
	font-size: 2.5em;
}
