

.header {
	position: fixed;
	height: 55px;
	left: 0px;
	right: 0;
	top: 0;
	background: linear-gradient(#00000090, #00000080, #00000070,#00000050, #00000030, #00000000);
	color: rgba(236,240,241,1) ;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	line-height: 55px;
	font-weight: 700;
}

.headerSwitched {
	display: flex;
	justify-content: space-between;
	z-index: 2;
	line-height: 55px;
	font-weight: 700;
}

.headerOnScroll {
	display: flex;
	justify-content: space-between;
	z-index: 2;
	line-height: 55px;
	font-weight: 700;
}


p {
	font-family: gt super display,Times New Roman,serif;
	transition: 0.2s;
}


.siteName {
	display: flex;
	justify-content: center;
	font-family: 'Concert One', cursive;
	font-size: 2.2em;
	font-weight: 600;
	display: block;
	padding: 0 15px;
}

.siteName:hover {
	font-size: 2.5em;
}


.logoCategories {
	margin: 12.5px;
	width: 30px;
	height: 30px;	
	margin-right: 233.5px;
	background-image: url('../.././image/categories.png');
	background-size: contain;
}

.logoCategories:hover {
	width: 33px;
	height: 33px;
	margin: 11px;	
	margin-right: 233.5px;
}

.logoClose {
	display: block;
	margin: 12.5px;
	width: 30px;
	height: 30px;
	margin-right: 233.5px;
	background-image: url('../.././image/delete-button.png');
	background-size: contain;
}

.logoClose:hover {
	width: 33px;
	height: 33px;
	margin: 11px;	
	margin-right: 233.5px;
}

@media (max-width: 1100px) {
	.logoClose {
		margin: 15px;
		margin-right: 25vw;
		width: 25px;
		height: 25px;
	}

	.logoClose:hover {
		margin: 15px;
		margin-right: 25vw;
		width: 25px;
		height: 25px;
	}

	.logoCategories {
		margin: 15px;
		margin-right: 25vw;
		width: 25px;
		height: 25px;
	}
	
	.logoCategories:hover {
		margin: 15px;
		margin-right: 25vw;
		width: 25px;
		height: 25px;
	}
}