.Meteo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100vh;
  height: 100vh;
  left:0;
  right:0;
  background: url('../../.././image/background-meteo2.jpg');
  background-size: cover;
  font-size: 1.2em;
}

.retourBoutton {
  position: absolute;
  top: 60px;
  left: 6%;
  font-size: 25px;
  font-weight: 700;
  color: white;  
  text-shadow: 0 0 5px black;
  z-index: 3;
}

.retourBoutton:hover {
  text-shadow: 0 0 0.2px;
}


.search-form {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.search-bar {
  display:flex;
  align-items: center;
  width: 40%;
  height: 25px;
  margin: 6vh 3vw ;
  box-shadow: 0 0px 1px black;
}

.errorContainer {
  margin: 0 0 10vh;
  padding: 20px;
  background:rgba(236,240,241,1.0);
  border-radius: 5px;
  border: solid 1px #999;
  color: #000000c4;
}

.search-button {
  display: flex;
  height: 25px;
  border-radius: 5px;
  width: 100px;
  background: rgba(236,240,241,1.0);
  box-shadow: 0 0px 3px black;
}

.search-button:hover {
  display: flex;
  height: 25px;
  border-radius: 5px;
  width: 100px;
  background: rgba(236,240,241,1.0);
  box-shadow: 0 0px 5px black;
  margin: 7px;
}

.nom {
  margin-top: 10vh;
  margin: 5vh;
  font-family: 'Concert One', cursive;
  font-size: 2em;
  text-shadow: 0 0 3px black;
  font-weight: 500;
  color: white;
}

.weather {
  width: 52%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 4px black;
}



.weatherInfo {
  display : flex;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  background: #dfe1e2;
}

.weatherInfo:hover {
  background: #a7a7a7;
}

.weatherDate {
  border-bottom: 1px solid black; 
  width:10%;
  padding: 10%;
}







