.Meteo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 130px;
  min-height: 110vh;
  width: 100%;
  background: #fafafa;
  font-size: 1.2em;
}

.retourBoutton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px black;
  z-index: 3;
}

.retourBoutton:hover {
  text-shadow: 0 0 0.2px;
}

.searchForm {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 40%;
  height: 25px;
  margin: 6vh 3vw;
  box-shadow: 0 0px 3px black;
}

.errorContainer {
  margin: 0 0 10vh;
  padding: 20px;
  background: rgba(236, 240, 241, 1);
  border-radius: 5px;
  border: solid 1px #999;
  color: #000000c4;
}

.searchButton {
  display: flex;
  height: 25px;
  border-radius: 5px;
  width: 100px;
  background: rgba(236, 240, 241, 1);
  box-shadow: 0 0px 3px black;
}

.searchButton:hover {
  display: flex;
  height: 25px;
  border-radius: 5px;
  width: 100px;
  background: rgba(236, 240, 241, 1);
  box-shadow: 0 0px 5px black;
}

.weather {
  margin: 25px;
  width: 75%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 2px #bdbdbd;
  flex-direction: column;
}

.weatherInfo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 69px;
  align-items: center;
  font-weight: normal;
  background: #fafafa;
}

.weatherInfo:hover {
  background: white;
}

.weatherDate {
  padding: 10%;
}
